* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

a {
  text-decoration: none; }

.clear:after {
  display: block;
  content: "";
  clear: both; }

.clear {
  *zoom: 1; }

.logo {
  width: 216px;
  height: 54px;
  margin-left: 104px;
  margin-top: 23px; }
  .logo a {
    display: block; }
    .logo a img {
      display: block;
      width: 100%; }

.fl {
  float: left; }

.fr {
  float: right; }

#wrap a:hover {
  text-decoration: none; }
#wrap a:focus {
  text-decoration: none; }

header {
  width: 100%; }
  header .nav {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100px; }
    header .nav ul {
      margin-right: 104px;
      margin-bottom: 0;
      font-size: 16px; }
      header .nav ul li {
        margin-top: 42px;
        margin-left: 48px; }
        header .nav ul li a {
          color: #dcdedf; }
          header .nav ul li a:hover {
            color: #ff0;
            text-decoration: none; }
        header .nav ul li .current {
          color: #ff0; }
        header .nav ul li span {
          width: 0;
          height: 1px;
          background: #ff0;
          display: block; }
        header .nav ul li .over {
          animation: navin .5s ease both; }
        header .nav ul li .out {
          animation: navout .5s ease both; }

@keyframes navout {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
@keyframes navin {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.content .cont {
  width: 100%;
  height: 780px;
  position: relative;
  top: 0;
  left: 0;
  background: url(../img/banner-ofo.jpg) no-repeat;
  background-position: top center;
  display: table; }
  .content .cont h3 {
    color: #fff;
    font-size: 45px;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    line-height: 86px;
    animation: fadeIn 2s  ease both 1s; }
.content .post {
  width: 1140px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0; }
  .content .post .post-con {
    padding: 56px 0 100px;
    opacity: 0; }
    .content .post .post-con ul {
      width: 800px;
      overflow: hidden;
      margin: 0 auto; }
      .content .post .post-con ul li {
        width: 25%;
        float: left;
        text-align: center; }
        .content .post .post-con ul li h4 {
          font-weight: bold;
          margin-bottom: 16px; }
        .content .post .post-con ul li a {
          display: block;
          color: #b8b8b8;
          line-height: 24px; }
          .content .post .post-con ul li a:hover {
            color: #585858; }
    .content .post .post-con .more {
      text-align: center;
      margin-top: 40px; }
      .content .post .post-con .more a {
        width: 134px;
        height: 58px;
        display: block;
        border: 1px solid #e5e5e5;
        border-radius: 30px;
        line-height: 58px;
        text-align: center;
        color: #000;
        margin: 0 auto; }
        .content .post .post-con .more a:hover {
          background: #ff0; }
      .content .post .post-con .more p {
        margin-top: 40px; }
  .content .post .post-con.in {
    animation: fadeIn 1s  ease both 0.5s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.demand {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: none; }
  .demand .demand-con {
    width: 684px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -342px;
    margin-top: -250px;
    background: #fff;
    overflow: hidden;
    padding: 60px 0px 60px 60px; }
    .demand .demand-con a {
      width: 26px;
      height: 24px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 5;
      background: url(../img/x.png) no-repeat; }
    .demand .demand-con .text {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      overflow: hidden; }
      .demand .demand-con .text .scroll_bar {
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 20px; }
        .demand .demand-con .text .scroll_bar .scroll {
          width: 6px;
          height: 210px;
          border-radius: 3px 3px;
          position: absolute;
          top: 0;
          right: 0;
          background: #ccc;
          z-index: 10;
          display: none; }
      .demand .demand-con .text .text-con {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        overflow: hidden;
        padding-right: 60px; }
        .demand .demand-con .text .text-con h4 {
          padding-bottom: 38px;
          border-bottom: 1px solid #e5e5e5;
          font-size: 24px;
          font-weight: 500; }
        .demand .demand-con .text .text-con span {
          display: block;
          margin: 40px 0 12px; }
        .demand .demand-con .text .text-con p {
          color: #999;
          line-height: 24px;
          margin: 0;
          padding-bottom: 8px; }
      .demand .demand-con .text .postcp {
        display: block; }

footer {
  width: 100%;
  background: #191919;
  font-size: 12px;
  padding-top: 50px;
  color: #a3a3a3;
  text-align: center;
  height: 310px; }
  footer h2 {
    width: 325px;
    height: 72px;
    margin: 0 auto 16px; }
    footer h2 img {
      width: 100%; }
  footer div {
    position: relative;
    top: 0;
    left: 0;
    padding: 14px 0 30px;
    border-bottom: 1px solid #2b2b2b; }
    footer div img {
      position: absolute;
      top: -170px;
      left: 50%;
      margin-left: -74px;
      display: none; }
    footer div a {
      height: 20px;
      display: inline-block;
      padding-right: 25px;
      text-indent: -9999px; }
    footer div .weibo {
      background: url(../img/social_icon.png) 15px 0 no-repeat;
      margin-right: 26px; }
    footer div .weixiun {
      background: url(../img/social_icon.png)-23px -1px no-repeat; }
  footer span {
    display: block;
    padding: 20px 0; }

/*# sourceMappingURL=ofo-jiaru.css.map */
